@use '../base' as *;
@use '../utils/' as *;

.header {
  padding: rem(5px) rem(20px);
  display: flex;
  gap: 10px;
  // position: relative;
  @include gradient($basic-gradient);

  .title {
    font-weight: 700;
    color: $white;
    margin: 0;
    line-height: 100%;
  }

  .logo {
  }
}
