@use '../base' as *;
@use '../utils/' as *;

.header {
  width: 100%;
  padding: rem(7px) rem(20px);
  display: flex;
  gap: 10px;
  // position: relative;
  @include gradient($basic-gradient);

  .title {
    font-weight: 700;
    color: $white;
    margin: 0;
    line-height: 100%;
    min-width: rem(100px);
  }

  .logo {
    width: 50px;
    height: auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.filters {
  display: flex;
  gap: rem(10px);

  @include mobile {
    justify-content: center;
    align-items: center;
  }

  @include desktop {
    justify-content: start;
    align-items: center;
  }

  &-weeks,
  &-days,
  &-member,
  &-level {
    position: relative;
    flex: 1 1 10%;
    min-width: rem(50px);
    max-width: rem(111px);
    padding: rem(10px) rem(9px);
    border: 1px solid #878484;
    background-color: #f9f9f9;
    font-size: rem(13px);
    color: #a99c9c;

    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  /* IE */
  &-weeks::-ms-expand,
  &-days::-ms-expand,
  &-member::-ms-expand,
  &-level::-ms-expand {
    display: none;
  }
}
// &-weeks::before,
// &-days::before,
// &-member::before,
// &-level::before {
//   content: 'dkssud';
//   background-color: red;
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   width: 10px;
//   height: 10px;
//   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
// }

.error {
  margin: rem(10px) rem(5px);
  height: rem(20px);
  color: red;
}

.study-info {
  background: #f0eeee;
  border-radius: 10px;
  padding: rem(30px);

  &__wrap {
    display: flex;
    margin-bottom: rem(16px);
    gap: 10px;
  }

  &__label {
    font-weight: bold;
    width: 24%;
    word-break: keep-all;

    & ~ * {
      width: 80%;
      word-break: break-all;
    }
  }

  &__days {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    li {
      border-radius: 50%;
      width: rem(30px);
      height: rem(30px);
      display: flex;
      align-items: center;
      justify-content: center;

      &.mon {
        background-color: $light-red;
      }

      &.tue {
        background-color: $light-orange;
      }

      &.wed {
        background-color: $light-yellow;
      }

      &.thur {
        background-color: $light-green;
      }

      &.fri {
        background-color: $light-blue;
      }

      &.sat {
        background-color: $light-navy;
      }

      &.sun {
        background-color: $light-violet;
      }
    }
  }
}
.button {
  line-height: rem(50px);
  border: 3px solid transparent;
  background-color: $primary;
  color: #fff;
  cursor: pointer;
  &:disabled {
    background-color: transparent;
    border: 2px solid $primary;
    color: rgba(0, 0, 0, 0.3);
  }
}

body.active {
  overflow: hidden;
}

.overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}
