@use '../base' as *;
@use '../utils' as *;

html,
body {
  width: 100%;
  height: 100%;
}

.navigation {
  background-color: red;
  display: none;
}

.group {
  height: 100%;
  width: 100%;

  &-tab.active {
    color: black;
    font-weight: 700;
  }

  &-tab {
    color: gray;
    font-weight: 700;
  }

  .tab-header {
    margin-bottom: rem(20px);
    border-bottom: 1px solid #c9c0c0;
  }

  &-feed {
    &__item {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      height: rem(326px);
      width: 100%;
      max-width: rem(500px);
      background-color: #f0eeee;
      transition: all 0.3s ease;

      button.delete {
        position: absolute;
        top: rem(3px);
        right: rem(3px);
        width: rem(23px);
        height: rem(23px);
        border-radius: rem(50%);
        background-color: $white;
        padding: 0;
        line-height: 110%;
        font-size: rem(14px);
        text-align: center;
        color: black;
        border: none;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
      }
    }

    &__item:hover {
      transform: translateY(-5px);
    }

    &__image {
      background-color: #fffafa;
      height: 56%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-feed {
    &__title {
      padding: rem(15px);
      font-size: rem(16px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }

    &__date {
      margin: rem(33px) 0 0 0;
      padding: 0 0 0 rem(15px);
      font-size: rem(12px);
      color: gray;
    }

    &__author {
      padding: 0 0 0 rem(15px);
      font-size: rem(18px);
      font-weight: 700;
    }

    &__likes {
      display: flex;
      align-items: center;
      gap: rem(5px);
      position: absolute;
      bottom: rem(20px);
      right: rem(10px);

      button {
        border: 0;
        background-color: #f0eeee;
        padding: 0;
        font-size: rem(26px);
        color: black;
      }

      .bxs-heart {
        color: red;
      }
    }
  }
  .likes-number {
    line-height: 100%;
    font-size: rem(20px);
  }

  @include mobile {
    padding: rem(20px) rem(30px) 0 rem(30px);

    &-title {
      font-size: rem(25px);
      font-weight: 700;
      padding: rem(20px) rem(5px);
      //   display: none;
      align-items: center;
    }

    &-tabList {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(10px);
      //   padding: rem(20px) rem(10px);
      flex-wrap: wrap;
    }

    &-tab {
      font-size: rem(16px);
      border: none;
      background-color: $white;
      padding: rem(10px);

      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-teamFeed,
    &-myFeed {
      min-height: rem(300px);
      &__list {
        margin: rem(10px) 0 0 0;
        display: flex;
        gap: rem(17px);
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      }
    }
  }

  @include desktop {
    width: 100%;
    // max-width: rem(1400px);
    padding: rem(53px) rem(30px) 0 rem(30px);
    // position: relative;
    margin: auto;

    &-title {
      font-size: rem(25px);
      font-weight: 700;
      padding: rem(20px) rem(5px);
    }

    &-tabList {
      padding: rem(16px);
      display: flex;
    }

    &-tab {
      border: 0;
      background-color: $white;
      font-size: rem(20px);
      //   font-size: 2vw;
    }

    &-teamFeed,
    &-myFeed {
      // min-height: rem(300px);
      min-height: 100%;
      &__list {
        margin-top: rem(39px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: rem(10px);
        row-gap: rem(10px);
      }
    }
  }
}

.group {
  &-info {
    position: relative;
    margin-top: rem(25px);
    min-height: 100%;

    &__title {
      // margin-top: rem(20px);
      font-size: rem(18px);
      font-weight: 700;
    }

    &__edit {
      position: absolute;
      top: rem(-3px);
      left: rem(95px);
      color: $white;
      font-weight: 700;
      border: 0;
      border-radius: 5px;
      padding: rem(5px) rem(10px);
      background-color: #8ca49f;
    }

    button.edit {
      color: $white;
    }

    .study-info {
      margin-top: rem(15px);
    }

    @include mobile {
      display: flex;
      flex-flow: column;
      flex-wrap: nowrap;
      gap: rem(40px);
    }

    @include desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      row-gap: rem(30px);
      column-gap: rem(40px);
    }

    &__description {
      @include desktop {
        margin-top: rem(20px);
      }

      &--title {
        margin-top: rem(20px);
        font-size: rem(16px);
        font-weight: 700;
        color: #a123cd;
      }
    }
  }

  &-teamList {
    &__list {
      margin-top: rem(15px);
      background-color: #f0eeee;
      // height: 88%;
      max-height: rem(192px);
      // min-height: rem(192px);
      border-radius: rem(10px);
      overflow: scroll;
    }

    &__list::-webkit-scrollbar {
      display: none;
    }

    /* Track */
    &__list::-webkit-scrollbar-track {
      display: none;
    }

    /* Handle */
    &__list::-webkit-scrollbar-thumb {
      width: 10px;
      background: red;
      border-radius: 10px;
      position: absolute;
    }

    /* Handle on hover */
    &__list::-webkit-scrollbar-thumb:hover {
      background: #b30000;
    }

    &__list::-webkit-scrollbar-corner {
      display: none;
    }

    &__member {
      padding: rem(20px);
      display: flex;
      justify-content: space-between;

      &--nickname {
        font-weight: 700;
      }
    }

    &__member:focus {
      background-color: gray;
      color: $white;
    }
  }
}

.filters {
  &-weeks,
  &-days,
  &-member {
    position: relative;
    &__checkbox {
      display: flex;
      flex-flow: column;
      position: absolute;
      top: rem(35px);
      left: 0;
      z-index: 100;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
      background-color: #f9f9f9;
      font-size: rem(13px);
      // color: #a99c9c;
      width: 100%;
      max-height: rem(105px);
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      label {
        padding: rem(10px);
        border-bottom: 1px solid #a99c9c;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-height: rem(36px);
      }

      label > i {
        margin-right: rem(5px);
        font-size: rem(14px);
        font-weight: 700;
      }

      label.checked > i {
        color: green;
      }

      label:hover {
        background-color: gray;
        color: $white;
      }
    }
  }
}

li.filters-weeks,
li.filters-days,
li.filters-member {
  border: none;
  padding: 0;
}

.tab-header {
  display: flex;
  @include desktop {
    justify-content: space-between;
  }
  @include mobile {
    justify-content: space-around;
    flex-wrap: wrap;
    // justify-content: center;
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &-container {
    height: 60%;
    width: 90%;
    background-color: #f0eeee;
    position: relative;
    border-radius: rem(10px);
    box-shadow: 1px 1px 10px 10px rgb(0 0 0 / 50%);
  }

  &-img {
    background-color: $white;
    width: 50%;
    height: 100%;

    border-radius: rem(10px);
    // box-shadow: 1px 1px 10px 10px rgb(0 0 0 / 50%);
  }

  &-img img {
    border-radius: rem(10px) 0 0 rem(10px);
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &-title {
    position: absolute;
    top: rem(20px);
    left: 53%;
    font-size: rem(20px);
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    font-weight: 700;
  }

  &-description {
    position: absolute;
    top: rem(60px);
    left: 54%;
  }

  &-close {
    position: absolute;
    bottom: 5%;
    left: 53%;
    width: 45%;
    padding: rem(10px);
    border-radius: rem(5px);
    border: 1px solid #5d5fef;
    background-color: #5d5fef;
    color: $white;
  }
}
