@use '../base' as *;
@use '../utils' as *;

.auth-form {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  margin: rem(30px) auto;
  padding: rem(30px);
  & .login-fail {
    height: rem(20px);
    text-align: end;
    color: red;
  }
  & .title {
    font-size: rem(24px); // h2는 common.scss에서 다같이 처리할 것이므로 이부분 나중에 삭제
  }
  & .button {
    line-height: rem(50px);
    border: 3px solid transparent;
    background-color: $primary;
    color: #fff;
    cursor: pointer;
    &:disabled {
      background-color: transparent;
      border: 2px solid $primary;
      color: rgba(0, 0, 0, 0.3);
    }
  }
  & .input-container {
    position: relative;
    & input {
      display: block;
      margin: 0 auto;
      padding: 0 rem(10px);
      width: 100%;
      height: rem(50px);
      border: none;
      border-bottom: 1px solid $primary;
      background: transparent;
      &:focus ~ label,
      &:valid ~ label {
        transform: translate(rem(-10px), rem(-30px)) scale(0.8); // 정확한 수치 다시 세팅
      }
    }
    & label {
      position: absolute;
      top: rem(10px);
      left: rem(10px);
      transition: transform 100ms ease-in;
    }
    & .error {
      margin: rem(10px) rem(5px);
      height: rem(20px);
      color: red;
    }
  }
  @include flexbox(column);
  gap: rem(25px);
  @include mobile {
    width: rem(500px);
  }
  @include desktop {
    width: 50vw;
    min-width: rem(600px);
  }
}
