@use '../utils' as *;

.mypage {
  // temp
  // background-color: $primary;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $black;
    padding: 20px 5px;
    font-size: rem(25px);
    font-weight: bold;
  }

  &__content {
    padding: 0 rem(10px);

    @include desktop {
      display: flex;
      gap: rem(60px);
      padding-top: rem(10px);
      justify-content: space-between;
    }
  }
}

.user-info {
  text-align: center;
  font-size: rem(20px);

  @include desktop {
    width: 30%;
    min-width: 260px;
    order: 1;
  }

  &__inner {
    position: sticky;
    top: rem(25px);
  }

  &__inner::before {
    content: '';
    display: block;
    background-color: $white;
    background-image: url(../images/hama-sprite.png);
    background-repeat: no-repeat;
    background-size: auto rem(250px);
    background-position-x: 0%;
    width: rem(250px);
    height: rem(250px);
    border-radius: 50%;
    margin: rem(25px) auto;
  }

  &__inner.level--1::before {
    background-position-x: calc(100% / 9 * 0);
  }

  &__inner.level--2::before {
    background-position-x: calc(100% / 9 * 1);
  }

  &__inner.level--3::before {
    background-position-x: calc(100% / 9 * 2);
  }

  &__inner.level--4::before {
    background-position-x: calc(100% / 9 * 3);
  }

  &__inner.level--5::before {
    background-position-x: calc(100% / 9 * 4);
  }

  &__inner.level--6::before {
    background-position-x: calc(100% / 9 * 5);
  }

  &__inner.level--7::before {
    background-position-x: calc(100% / 9 * 6);
  }

  &__inner.level--8::before {
    background-position-x: calc(100% / 9 * 7);
  }

  &__inner.level--9::before {
    background-position-x: calc(100% / 9 * 8);
  }

  &__inner.level--10::before {
    background-position-x: calc(100% / 9 * 9);
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    margin-top: rem(40px);
    padding: 0 rem(2vw);
  }

  &__point {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.user-study {
  @include desktop {
    width: 65%;
  }
  @include mobile {
    padding-top: 30px;
  }

  h3 {
    font-size: rem(20px);
    font-weight: bold;
  }
}

.study-list {
  margin-bottom: rem(40px);

  & > li {
    margin-bottom: rem(20px);
  }
}
