@use '../utils' as *;

.form-body {
  @include gradient($basic-gradient);
}
.form-main {
  margin: 0 auto;
}
.form-container {
  background: $white;
  border-radius: rem(10px);
  padding: 0 rem(120px);
}
.form-container div {
  padding-bottom: rem(40px);
}
.posting-title {
  font-size: rem(38px);
  font-weight: 700;
  padding: rem(50px);
  text-align: center;

  @include mobile {
    font-size: 20px;
    padding: rem(20px) rem(5px);
  }
}
.questions {
  display: block;
  padding-bottom: rem(24px);
  font-size: rem(24px);

  @include mobile {
    font-size: rem(16px);
    padding-bottom: rem(16px);
  }
}
.group-name,
.group-introduction,
#tag-id {
  width: 100%;
  height: rem(70px);
  padding: rem(10px);
  font-size: rem(20px);
  border: none;
  border-bottom: 1px solid $lightblack;

  @include mobile {
    height: rem(40px);
    font-size: rem(16px);
  }
}
// hash tag
.tag-container {
  position: relative;
}
.tag-input {
  width: 100%;
  max-width: 100%;
}
.tag-input .input {
  margin-bottom: 0;
  padding-bottom: 0;
}
.tag-input .input div {
  position: relative;
}
.bx.bxs-purchase-tag {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  font-size: 20px;
}
.tag-id {
  padding: 10px;
  width: 100%;
  height: 70px;
  font-size: 20px;
  text-indent: 15px;
  border: none;
  border-bottom: 1px solid #888;
  outline: none;
}
.tag-input .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.tag-input .tag-list .item {
  padding: 3px 5px;
  border-radius: 10px;
  background: $primary;
  color: $white;
  user-select: none;
  list-style-type: none;
}
.tag-input .tag-list .item .delete-btn {
  display: inline-block;
  margin: 0 2px;
  width: 8px;
  text-align: center;
}

// range bar

// 인증 요일
.checkbox-container ul {
  display: flex;
}
.checkbox-container .authorization {
  padding: 0;
}
.checkbox-container ul {
  justify-content: center;
  align-items: center;
}
.checkbox-container label {
  display: flex;
  width: rem(70px);
  height: rem(70px);
  margin: 0 rem(15px);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: rem(24px);

  @include mobile {
    font-size: rem(16px);
    width: rem(40px);
    height: rem(40px);
    margin: 0 rem(5px);
    align-items: center;
    justify-content: center;
  }
}
.date ~ label {
  border: 1px solid #ccc;
  background: none;
}
.date:checked ~ label.mon {
  background: $light-red;
}
.date:checked ~ label.tue {
  background: $light-orange;
}
.date:checked ~ label.wed {
  background: $light-yellow;
}
.date:checked ~ label.thu {
  background: $light-green;
}
.date:checked ~ label.fri {
  background: $light-blue;
}
.date:checked ~ label.sat {
  background: $light-navy;
}
.date:checked ~ label.sun {
  background: $light-violet;
}
.text-content {
  width: 100%;
  resize: none;
  font-size: rem(20px);
  padding: rem(20px);

  @include mobile {
    font-size: rem(16px);
  }
}
.button-group {
  text-align: center;
}
.cancel,
.submit {
  width: rem(100px);
  height: rem(50px);

  padding: 10px;
  border: none;
  border-radius: 10px;
  color: $white;
  font-size: rem(20px);

  @include mobile {
    width: rem(80px);
    height: rem(40px);
    margin: rem(20px);
  }
}
.submit {
  background: $primary;
}
.cancel {
  background: $lightblack;
}
.error {
  position: absolute;
}
