@use '../utils' as *;
.form-body {
  @include gradient($basic-gradient);
}
.form-main {
  margin: 0 auto;
}
.form-container {
  background: $white;
  border-radius: rem(10px);
  padding: rem(60px) rem(120px);

  @include mobile {
    padding: rem(30px) rem(30px);
  }
}
.form-container div {
  padding-bottom: rem(40px);

  @include mobile {
    padding-bottom: rem(20px);
  }
}
.posting-title {
  font-size: rem(40px);
  font-weight: 700;
  padding: rem(50px);
  text-align: center;
  @include mobile {
    font-size: rem(22px);
    padding: rem(30px) rem(22px);
  }
}
.questions {
  display: block;
  padding-bottom: rem(24px);
  font-size: rem(24px);

  @include mobile {
    font-size: rem(16px);
    padding-bottom: rem(16px);
  }
}
.approval-container {
  position: relative;
}
.group-list,
.url,
.approval-title {
  width: 100%;
  height: rem(70px);
  padding: rem(10px);
  font-size: rem(20px);
  border: none;
  border-bottom: 1px solid $lightblack;

  @include mobile {
    height: rem(30px);
    padding: rem(15px);
    font-size: rem(16px);
  }
}
.notice {
  width: rem(25px);
  height: rem(25px);
  border: 2px solid $lightblack;
  position: absolute;
  right: 2%;
  top: 20%;
  cursor: pointer;

  @include mobile {
    width: rem(15px);
    height: rem(15px);
    top: 15%;
    stop-opacity: 1px solid $lightblack;
  }
}
.notice:checked {
  background-color: $primary;
}
// drag and drop box
/* drop box border */
.drop-container {
  position: relative;
  width: 100%;
}
.upload-btn {
  display: block;
  width: 100%;
  text-align: center;
  height: rem(50px);
  border-radius: 10px;
  border: 4px solid $primary;
  background-color: $primary;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.drop-zone {
  max-width: 100%;
  height: rem(400px);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
  border: 4px dashed $primary;
  margin-top: rem(30px);

  @include mobile {
    padding: 15px;
    margin-top: rem(15px);
  }
}
/* if the image is on the drop zone, the border is changing */
.drop-zone--over {
  border-style: solid;
}
.drop-zone__input {
  display: none;
}
/* cover : image taking entire space for background */
.drop-zone__thumb {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
/* image file name */
.drop-zone__thumb::after {
  /* displaying the content property */
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1px 0;
  color: white;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
  border-radius: 1.3px;
}

// text area
.text-content {
  width: 100%;
  resize: none;
}
.button-group {
  text-align: center;
  margin-top: 4%;
}
.cancel,
.submit {
  width: rem(300px);
  height: rem(70px);
  margin: 10px;
  border-radius: 10px;
  color: $white;
  font-size: rem(20px);
  line-height: rem(30px);
  border: 3px solid transparent;

  @include mobile {
    width: rem(85px);
    height: rem(50px);
  }
}
.submit {
  background: $primary;
}
.cancel {
  background: $lightblack;
}
.error {
  position: absolute;
}
