@use '../utils' as *;
.form-body {
  @include gradient($basic-gradient);
}
.form-main {
  margin: 0 auto;
}
.form-container {
  background: $white;
  border-radius: rem(10px);
  padding: 0 rem(120px);
}
.form-container div {
  padding-bottom: rem(40px);
}
.posting-title {
  font-size: rem(40px);
  font-weight: 700;
  padding: rem(50px);
  text-align: center;
  @include mobile {
    font-size: rem(22px);
    padding: rem(30px) rem(22px);
  }
}
.questions {
  display: block;
  padding-bottom: rem(24px);
  font-size: rem(24px);

  @include mobile {
    font-size: rem(16px);
    padding-bottom: rem(16px);
  }
}
.group-list,
.url,
.approval-title {
  width: 100%;
  height: rem(70px);

  @include mobile {
    height: rem(30px);
  }
}
.upload-btn {
  display: block;
  margin-bottom: rem(30px);
  padding: rem(10px) 0;
  border-radius: rem(10px);
  background-color: $primary;
  color: $white;
  text-align: center;
  width: rem(200px);
}
.text-content {
  width: 100%;
  resize: none;
}
.button-group {
  text-align: center;
}
.cancel,
.submit {
  width: rem(100px);
  height: rem(50px);
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  color: $white;
  font-size: rem(20px);
}
.submit {
  background: $primary;
}
.cancel {
  background: $lightblack;
}
