@use '../utils' as *;
.form-body {
  @include gradient($basic-gradient);
}
.form-main {
  margin: 0 auto;
}
.form-container {
  background: $white;
  border-radius: rem(10px);
  padding: 0 rem(120px);

  @include mobile {
    padding: 0 rem(30px);
  }
}
.form-container div {
  padding-bottom: rem(40px);
}
.posting-title {
  font-size: rem(40px);
  font-weight: 700;
  padding: rem(50px);
  text-align: center;
  @include mobile {
    font-size: rem(22px);
    padding: rem(30px) rem(22px);
  }
}
.questions {
  display: block;
  padding-bottom: rem(24px);
  font-size: rem(24px);

  @include mobile {
    font-size: rem(16px);
    padding-bottom: rem(16px);
  }
}
.group-list,
.url,
.approval-title {
  width: 100%;
  height: rem(70px);
  padding: rem(10px);
  font-size: rem(20px);
  border: none;
  border-bottom: 1px solid $lightblack;

  @include mobile {
    height: rem(30px);
  }
}
.upload-btn {
  display: block;
  margin-bottom: rem(20px);
  padding: rem(10px) 0;
  border-radius: rem(10px);
  border-bottom: 4px solid #4b4dec;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  background-color: $primary;
  color: $white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;

  @include mobile {
    margin: 0 auto rem(30px);
  }
}
.upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.drop-zone {
  border: 4px dashed $primary;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  height: rem(400px);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    display: none;
  }
  &__prompt {
    width: 100%;
    text-align: center;
    font-size: rem(30px);
    color: $lightblack;
  }
}
.drop-zone--over {
  border-style: solid;
}

// background image setting
.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  //setting images through actual background
  position: relative;
}
.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: $white;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
}
// .remove-image {
//   width: rem(200px);
//   color: $darkpink;
//   border: none;
//   margin-top: 20px;
//   margin-left: 33%;
//   padding: 10px;
//   border-radius: 4px;
//   border-bottom: 4px solid #c9538c;
//   transition: all 0.2s ease;
//   outline: none;
//   font-weight: 700px;
// }
// .remove-image:hover {
//   background: #b53e77;
//   color: $white;
//   transition: all 0.2s ease;
//   cursor: pointer;
// }
.upload-img {
  width: rem(400px);
  height: rem(600px);

  @include mobile {
    width: rem(240px);
    height: rem(300px);
  }
}
.text-content {
  width: 100%;
  resize: none;
}
.button-group {
  text-align: center;
}
.cancel,
.submit {
  width: rem(100px);
  height: rem(50px);
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  color: $white;
  font-size: rem(20px);

  @include mobile {
    width: rem(60px);
  }
}
.submit {
  background: $primary;
}
.cancel {
  background: $lightblack;
}
