<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="title">
        <h1>시간 먹는 하마</h1>
      </div>
      <div class="logo"><img src="../images/logo.png" alt="로고" /></div>
    </header>
    <main>
      <form class="auth-form login">
        <h2 class="title">로그인</h2>
        <div class="input-container">
          <input type="text" id="email" name="email" required autocomplete="off" />
          <label for="email">이메일</label>
          <div class="error"></div>
        </div>
        <div class="input-container">
          <input type="password" id="password" name="password" required autocomplete="off" />
          <label for="password">비밀번호</label>
          <div class="error"></div>
        </div>
        <button type="submit" class="login button" disabled>로그인</button>
        <button type="button" class="button toggle-btn">회원가입으로</button>
      </form>

      <form class="auth-form signup hidden">
        <h2 class="title">회원가입</h2>
        <div class="input-container">
          <input type="text" id="email" name="email" required autocomplete="off" />
          <label for="email">이메일</label>
          <div class="error"></div>
        </div>
        <div class="input-container">
          <input type="text" id="nickname" name="nickname" required autocomplete="off" />
          <label for="nickname">닉네임</label>
          <div class="error"></div>
        </div>
        <div class="input-container">
          <input type="password" id="password" name="password" required autocomplete="off" />
          <label for="password">비밀번호</label>
          <div class="error"></div>
        </div>
        <div class="input-container">
          <input type="password" id="confirm-password" name="confirm-password" required autocomplete="off" />
          <label for="confirm-password">비밀번호 확인</label>
          <div class="error"></div>
        </div>
        <button type="submit" class="signup button" disabled>회원가입</button>
        <button type="button" class="button toggle-btn">로그인으로</button>
      </form>
    </main>
  </body>
</html>
