<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <h1>시간 먹는 하마</h1>
      <img src="#" alt="로고" />
    </header>
    <form class="form signin" novalidate>
      <div class="title">SIGN IN</div>
      <div class="input-container">
        <input type="text" id="signin-userid" name="userid" required autocomplete="off" />
        <label for="signin-userid">email</label>
        <div class="error"></div>
      </div>
      <div class="input-container">
        <input type="password" id="signin-password" name="password" required autocomplete="off" />
        <label for="signin-password">Password</label>
        <div class="error"></div>
      </div>
      <button class="signin button" disabled>SIGN IN</button>
      <div class="link">Not a member? <a href="javascript:void(0);">Sign up now</a></div>
    </form>

    <form class="form signup hidden" novalidate>
      <div class="title">SIGN UP</div>
      <div class="input-container">
        <input type="text" id="signup-userid" name="userid" required autocomplete="off" />
        <label for="signup-userid">email</label>
        <div class="error"></div>
      </div>
      <div class="error-message"></div>
      <div class="input-container">
        <input type="text" id="signup-name" name="username" required autocomplete="off" />
        <label for="signup-name">Name</label>
        <div class="error"></div>
      </div>
      <div class="input-container">
        <input type="password" id="signup-password" name="password" required autocomplete="off" />
        <label for="signup-password">Password</label>
        <div class="error"></div>
      </div>
      <div class="input-container">
        <input type="password" id="signup-confirm-password" name="confirm-password" required autocomplete="off" />
        <label for="signup-confirm-password">Confirm Password</label>
        <div class="error"></div>
      </div>
      <button class="signup button" disabled>SIGN UP</button>
      <div class="link">Already a member? <a href="#">Sign in</a></div>
    </form>
  </body>
</html>
