<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>시간 먹는 하마</title>
  </head>
  <body class="form-body">
    <header class="header">
      <div class="title">
        <h1>시간 먹는 하마</h1>
      </div>
      <div class="logo"><img src="../images/logo.png" alt="로고" /></div>
    </header>

    <nav class="navigation">
      <button class="nav-btn">하마버튼</button>
      <ul class="nav-links">
        <li><a href="#">홈으로</a></li>
        <li><a href="#">스터디그룹 만들기</a></li>
        <li><a href="#">마이페이지</a></li>
        <li><a href="#">인증글쓰기</a></li>
        <li><a href="#">알림</a></li>
        <li><a href="#">닫기</a></li>
      </ul>
    </nav>

    <main class="main form-main">
      <div class="form-container">
        <h2 class="posting-title">스터디 그룹을 생성해 주세요</h2>
        <p class="due-date"></p>
        <div>
          <label class="questions a11y-hidden" for="group-name">스터디 그룹명</label>
          <input class="group-name" type="text" name="group-name" id="group-name" placeholder="스터디 그룹명" />
        </div>
        <div>
          <label class="questions a11y-hidden" for="group-introduction">스터디 그룹을 소개해주세요.</label>
          <input
            class="group-introduction"
            type="text"
            name="group-introduction"
            id="group-introduction"
            placeholder="스터디 그룹을 소개해주세요."
          />
        </div>
        <div>
          <label class="questions a11y-hidden" for="hash-tag">해시태그</label>
          <input class="hash-tag" type="text" name="hash-tag" id="hash-tag" placeholder="해시태그" />
          <!-- 동적 -->
          <ul class="tag-container">
            <li>
              <span></span>
            </li>
          </ul>
        </div>
        <div class="enter-range">
          <span class="questions">참여레벨</span>
          <div class="range-bar">
            <input
              class="range-bar__input"
              type="range"
              min="0"
              max="10"
              value="0"
              name="enter-level"
              id="enter-level"
            />
            <output class="level-output" name="level" for="enter-level"></output>
            <p class="new-value">Value: <span class="value"></span></p>
          </div>
          <ul class="range-label">
            <li class="active selected">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
          </ul>
        </div>
        <div class="duration-range">
          <span class="questions">진행 기간</span>
          <div class="range-bar">
            <input
              class="range-bar__input"
              type="range"
              min="1"
              max="10"
              step="1"
              value="1"
              name="duration"
              id="duration"
            />
          </div>
          <ul class="range-label">
            <li class="active">1주</li>
            <li>2주</li>
            <li>3주</li>
            <li>4주</li>
            <li>5주</li>
            <li>6주</li>
            <li>7주</li>
            <li>8주</li>
            <li>9주</li>
            <li>10주</li>
          </ul>
        </div>
        <div class="checkbox-container">
          <span class="questions authorization">인증 요일</span>
          <ul>
            <li class="mon">
              <input class="date" type="checkbox" name="date-checker" id="monday" />
              <label for="monday">월</label>
            </li>
            <li class="tue">
              <input class="date" type="checkbox" name="date-checker" id="tuesday" />
              <label for="tuesday">화</label>
            </li>
            <li class="wed">
              <input class="date" checked type="checkbox" name="date-checker" id="wednesday" />
              <label for="wednesday">수</label>
            </li>
            <li class="thur">
              <input class="date" type="checkbox" name="date-checker" id="thursday" />
              <label for="thursday">목</label>
            </li>
            <li class="fri">
              <input class="date" type="checkbox" name="date-checker" id="friday" />
              <label for="friday">금</label>
            </li>
            <li class="sat">
              <input class="date" type="checkbox" name="date-checker" id="saturday" />
              <label for="saturday">토</label>
            </li>
            <li class="sun">
              <input class="date" type="checkbox" name="date-checker" id="sunday" />
              <label for="sunday">일</label>
            </li>
          </ul>
        </div>
        <div>
          <span class="questions">인증방법</span>
          <label for="approval-method"></label>
          <textarea
            class="text-content"
            name="approval-method"
            id="approval-method"
            cols="30"
            rows="10"
            placeholder="ex. 포스팅 url 공유, 사진 인증"
          ></textarea>
        </div>
        <div class="button-group">
          <button type="submit" class="submit">등록</button>
          <button type="button" class="cancel">취소</button>
        </div>
      </div>
    </main>
    <div class="overlay"></div>
  </body>
</html>
