<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>시간 먹는 하마</title>
  </head>
  <body>
    <header class="header">
      <h1>시간 먹는 하마</h1>
      <img src="#" alt="로고" />
    </header>

    <nav class="navigation">
      <button class="nav-btn">하마버튼</button>
      <ul class="nav-links">
        <li><a href="#">홈으로</a></li>
        <li><a href="#">스터디그룹 만들기</a></li>
        <li><a href="#">마이페이지</a></li>
        <li><a href="#">인증글쓰기</a></li>
        <li><a href="#">알림</a></li>
        <li><a href="#">닫기</a></li>
      </ul>
    </nav>

    <main class="main">
      <h2 class="title">스터디 그룹을 생성해 주세요</h2>
      <p class="due-date"></p>

      <div>
        <label class="questions" for="group-name">스터디 그룹명</label>
        <input type="text" name="group-name" id="group-name" />
      </div>

      <div>
        <label class="questions" for="group-introduction">스터디 그룹을 소개해주세요.</label>
        <input type="text" name="group-introduction" id="group-introduction" />
      </div>

      <div>
        <label class="questions" for="hash-tag">해시태그</label>
        <input type="text" name="hash-tag" id="hash-tag" />
        <!-- 동적 -->
        <ul class="tag-container">
          <li>
            <span></span>
          </li>
        </ul>
      </div>

      <span class="questions">참여레벨</span>
      <div class="range-bar">
        <input type="range" min="1" max="10" step="1" value="1" name="enter-level" id="enter-level" />
      </div>
      <ul class="range-label">
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
      </ul>

      <span class="questions">진행 기간</span>
      <div class="range-bar">
        <input type="range" min="1" max="10" step="1" value="1" name="enter-level" id="enter-level" />
      </div>
      <ul class="range-label">
        <li class="active">1주</li>
        <li>2주</li>
        <li>3주</li>
        <li>4주</li>
        <li>5주</li>
        <li>6주</li>
        <li>7주</li>
        <li>8주</li>
        <li>9주</li>
        <li>10주</li>
      </ul>

      <span class="questions">인증 요일</span>
      <ul>
        <li>
          <input type="checkbox" name="date-checker" id="monday" />
          <label for="monday">월</label>
        </li>
        <li>
          <input type="checkbox" name="date-checker" id="tuesday" />
          <label for="tuesday">화</label>
        </li>
        <li>
          <input type="checkbox" name="date-checker" id="wednesday" />
          <label for="wednesday">수</label>
        </li>
        <li>
          <input type="checkbox" name="date-checker" id="thursday" />
          <label for="thursday">목</label>
        </li>
        <li>
          <input type="checkbox" name="date-checker" id="friday" />
          <label for="friday">금</label>
        </li>
        <li>
          <input type="checkbox" name="date-checker" id="saturday" />
          <label for="saturday">토</label>
        </li>
        <li>
          <input type="checkbox" name="date-checker" id="sunday" />
          <label for="sunday">일</label>
        </li>
      </ul>

      <div>
        <label for="approval-method">인증 방법</label>
        <textarea
          name="approval-method"
          id="approval-method"
          cols="30"
          rows="10"
          placeholder="ex. 포스팅 url 공유, 사진 인증"
        ></textarea>
      </div>

      <div class="button-group">
        <button type="submit" class="submit">등록</button>
        <button type="button" class="cancel">취소</button>
      </div>
    </main>
    <div class="overlay"></div>
  </body>
</html>
