<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/faviconhama.ico" />

    <title>시간 먹는 하마</title>
  </head>
  <body class="form-body">
    <header class="header">
      <a href="/">
        <div class="title">
          <h1>시간 먹는 하마</h1>
        </div>
        <div class="logo"><img src="../images/logo.png" alt="로고" /></div>
      </a>
    </header>
    <nav class="nav">
      <button class="nav__button" aria-label="메뉴"></button>
      <ul class="nav__links">
        <li>
          <a class="nav__item nav__item--1" href="/">
            <i class="bx bx-home-alt nav__icon"></i>
            <span>홈으로</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--2" href="/posting">
            <i class="bx bx-pencil nav__icon"></i>
            <span>인증글쓰기</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--3" href="/mypage">
            <i class="bx bx-user nav__icon"></i>
            <span>마이페이지</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--4 nav__item--close" role="button">
            <i class="bx bx-x nav__icon"></i>
            <span>닫기</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--5" href="/notice">
            <i class="bx bx-bell nav__icon"></i>
            <span>알림</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--6" href="/newstudy">
            <i class="bx bx-plus nav__icon"></i>
            <span>스터디생성</span>
          </a>
        </li>
      </ul>
    </nav>

    <main class="main form-main">
      <div class="form-container">
        <h2 class="posting-title">스터디 그룹을 생성해 주세요</h2>
        <p class="due-date"></p>
        <form class="newstudy-form">
          <div class="input-container">
            <label class="questions a11y-hidden" for="group-name">스터디 그룹명</label>
            <input class="group-name" type="text" name="group-name" id="group-name" placeholder="스터디 그룹명" />
            <div class="error"></div>
          </div>
          <div class="input-container">
            <label class="questions a11y-hidden" for="group-introduction">스터디 그룹을 소개해주세요.</label>
            <input
              class="group-introduction"
              type="text"
              name="group-introduction"
              id="group-introduction"
              placeholder="스터디 그룹을 소개해주세요."
            />
            <div class="error"></div>
          </div>
          <!-- hash tag -->
          <div class="tag-input input-container">
            <label class="questions a11y-hidden" for="tag-id"> 해시태그 </label>
            <div class="tag-container">
              <i class="bx bxs-purchase-tag-alt bx-tada bx-flip-horizontal" style="color: #5d5fef"></i>
              <input class="tag-id" type="text" id="tag-id" name="hash-id" placeholder="태그를 입력해주세요" />
            </div>
            <ul class="tag-list">
              <!-- <li class="item" data-id="1">asdf<i class="bx bxs-tag-x"></i></li> -->
            </ul>
            <div class="error"></div>
          </div>

          <!-- range bar -->
          <div class="enter-range input-container">
            <span class="questions">참여레벨</span>
            <div class="range-wrap">
              <output class="range-ouput"></output>
              <input
                class="range-input minLevel"
                name="minLevel"
                type="range"
                min="1"
                max="10"
                value="1"
                step="1"
                data-label="이상"
              />
            </div>
          </div>
          <div class="duration-range input-container">
            <span class="questions">진행 기간</span>
            <div class="range-wrap">
              <output class="range-ouput"></output>
              <input
                class="range-input duration"
                name="duration"
                type="range"
                min="1"
                max="10"
                value="4"
                step="1"
                data-label="주"
              />
            </div>
          </div>
          <div class="checkbox-container input-container">
            <span class="questions authorization">인증 요일</span>
            <ul>
              <li>
                <input class="date posting-days" type="checkbox" name="date-checker" id="monday" data-id="1" />
                <label class="mon" for="monday">월</label>
              </li>
              <li>
                <input class="date posting-days" type="checkbox" name="date-checker" id="tuesday" data-id="2" />
                <label class="tue" for="tuesday">화</label>
              </li>
              <li>
                <input class="date posting-days" type="checkbox" name="date-checker" id="wednesday" data-id="3" />
                <label class="wed" for="wednesday">수</label>
              </li>
              <li>
                <input class="date posting-days" type="checkbox" name="date-checker" id="thursday" data-id="4" />
                <label class="thu" for="thursday">목</label>
              </li>
              <li>
                <input class="date posting-days" type="checkbox" name="date-checker" id="friday" data-id="5" />
                <label class="fri" for="friday">금</label>
              </li>
              <li>
                <input class="date posting-days" type="checkbox" name="date-checker" id="saturday" data-id="6" />
                <label class="sat" for="saturday">토</label>
              </li>
              <li>
                <input class="date posting-days" type="checkbox" name="date-checker" id="sunday" data-id="" />
                <label class="sun" for="sunday">일</label>
              </li>
            </ul>
            <div class="error"></div>
          </div>

          <div class="input-container">
            <span class="questions">인증방법</span>
            <label for="approval-method"></label>
            <textarea
              class="text-content approval-method"
              name="approval-method"
              id="approval-method"
              cols="30"
              rows="10"
              placeholder="ex. 포스팅 url 공유, 사진 인증"
            ></textarea>
            <div class="error"></div>
          </div>
          <div class="button-group">
            <button type="submit" class="submit button" disabled>등록</button>
            <button type="button" class="cancel">취소</button>
          </div>
        </form>
      </div>
    </main>
    <div class="overlay"></div>
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
  </body>
</html>
