<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나의 포인트</title>
  </head>
  <body class="active">
    <header class="header">
      <a href="/">
        <div class="title">
          <h1>시간 먹는 하마</h1>
        </div>
        <div class="logo"><img src="../images/logo.png" alt="로고" /></div>
      </a>
    </header>
    <nav class="nav">
      <button class="nav__button" aria-label="메뉴"></button>
      <ul class="nav__links">
        <li>
          <a class="nav__item nav__item--1" href="/">
            <i class="bx bx-home-alt nav__icon"></i>
            <span>홈으로</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--2" href="/posting">
            <i class="bx bx-pencil nav__icon"></i>
            <span>인증글쓰기</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--3" href="/mypage">
            <i class="bx bx-user nav__icon"></i>
            <span>마이페이지</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--4 nav__item--close" role="button">
            <i class="bx bx-x nav__icon"></i>
            <span>닫기</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--5" href="/notice">
            <i class="bx bx-bell nav__icon"></i>
            <span>알림</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--6" href="/newstudy">
            <i class="bx bx-plus nav__icon"></i>
            <span>스터디생성</span>
          </a>
        </li>
      </ul>
    </nav>
    <main class="main point">
      <div class="point__info">
        <div class="point__info__guide">
          <table class="table">
            <caption>
              포인트 적립기준
              <!-- <i class="bx bxs-down-arrow button--more" role="button"></i> -->
            </caption>
            <thead class="table__head a11y-hidden">
              <tr class="table__head__row">
                <th>적립 기준</th>
                <th>적립 포인트</th>
              </tr>
            </thead>
            <tbody class="table__body">
              <tr class="table__body__row">
                <td><span>스터디 완료</span></td>
                <td class="amount"><span>100P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>스터디 인증</span></td>
                <td class="amount"><span>10P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>스터디 미인증</span></td>
                <td class="amount"><span>-5P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>강제 탈퇴</span></td>
                <td class="amount"><span>-100P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>출석체크</span></td>
                <td class="amount"><span>1P</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="point__info__level">
          <table class="table">
            <caption>
              레벨업 기준
              <!-- <i class="bx bxs-down-arrow button--more" role="button"></i> -->
            </caption>
            <thead class="table__head a11y-hidden">
              <tr class="table__head__row">
                <th>레벨업 기준</th>
                <th>포인트</th>
              </tr>
            </thead>
            <tbody class="table__body">
              <tr class="table__body__row">
                <td><span>레벨 1</span></td>
                <td class="amount"><span>0 ~ 50P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>레벨 2</span></td>
                <td class="amount"><span>51P ~ 65P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>레벨 3</span></td>
                <td class="amount"><span>66P ~ 100P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>레벨 4</span></td>
                <td class="amount"><span>101P ~ 150P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>레벨 5</span></td>
                <td class="amount"><span>151P ~ 225P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>레벨 6</span></td>
                <td class="amount"><span>226P ~ 335P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>레벨 7</span></td>
                <td class="amount"><span>336P ~ 670P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>레벨 8</span></td>
                <td class="amount"><span>671P ~ 1340P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>레벨 9</span></td>
                <td class="amount"><span>1341P ~ 2680P</span></td>
              </tr>
              <tr class="table__body__row">
                <td><span>레벨 MAX</span></td>
                <td class="amount"><span>2681P 이상</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="point__history">
        <table class="table">
          <caption>
            포인트 내역
            <span class="point__total"></span>
          </caption>
          <thead class="table__head a11y-hidden">
            <tr class="table__head__row">
              <th>적립 내용</th>
              <th>적립 포인트</th>
            </tr>
          </thead>
          <tbody class="table__body">
            <!-- <tr class="table__body__row">
              <td><span>스터디 완료</span></td>
              <td><span>21.11.03</span></td>
              <td class="amount"><span>100P</span></td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </main>
    <div class="overlay"></div>
    <div class="loading active">
      <div>loading...</div>
    </div>
  </body>
</html>
