<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>시간 먹는 하마</title>
  </head>
  <body class="form-body">
    <header class="header">
      <div class="title">
        <h1>시간 먹는 하마</h1>
      </div>
      <div class="logo"><img src="../images/logo.png" alt="로고" /></div>
    </header>
    <nav class="nav">
      <button class="nav__button" aria-label="메뉴"></button>
      <ul class="nav__links">
        <li>
          <a class="nav__item nav__item--1" href="#">
            <i class="bx bx-home-alt nav__icon"></i>
            <span>홈으로</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--2" href="#">
            <i class="bx bx-pencil nav__icon"></i>
            <span>인증글쓰기</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--3" href="#">
            <i class="bx bx-user nav__icon"></i>
            <span>마이페이지</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--4 nav__item--close" href="#">
            <i class="bx bx-x nav__icon"></i>
            <span>닫기</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--5" href="#">
            <i class="bx bx-bell nav__icon"></i>
            <span>알림</span>
          </a>
        </li>
        <li>
          <a class="nav__item nav__item--6" href="#">
            <i class="bx bx-plus nav__icon"></i>
            <span>스터디생성</span>
          </a>
        </li>
      </ul>
    </nav>
    <main class="main form-main">
      <form class="posting-container">
        <div class="form-container">
          <h2 class="posting-title">인증 글을 올려주세요</h2>
          <div>
            <label class="questions a11y-hidden" for="group-list">스터디 그룹을 설정해주세요.</label>
            <select class="group-list" name="group-list" id="group-list">
            </select>
          </div>
          <div class="approval-container">
            <label class="questions a11y-hidden" for="approval-title">인증 글의 제목을 입력해주세요</label>
            <input
              class="approval-title"
              type="text"
              name="approval-title"
              id="approval-title"
              autocomplete="false"
              placeholder="글의 제목을 입력해주세요"
            />
            <input type="checkbox" id="notice" name="notice" class="notice">
            <div class="error"></div>
          </div>
          <div>
            <label class="questions a11y-hidden" for="url">URL을 입력해주세요 (optional)</label>
            <input
              class="url"
              type="url"
              name="url"
              id="url"
              autocomplete="false"
              placeholder="URL을 입력해주세요 (optional)"
            />
          </div>
          
          <!-- upload images -->
          <form action="#" method="post" enctype="multipart/form-data">
            <div class="drop-container">
              <label class="upload-btn" for="myFile" aria-placeholder="사진을 등록해주세요"
                >사진 업로드</label
              >
              <div class="drop-zone swiper">
                <span class="drop-zone__prompt">사진을 드래그 해주세요</span>
                <div class="swiper-wrapper"></div>
                <!-- <div class="drop-zone__thumb" data-label="myfile.txt"></div> -->
                <!-- name for regular upload submission  -->
                <input class="drop-zone__input" type="file" name="myFile" id="myFile" multiple />
              </div>
            </div>
          </form>
            <label class="questions a11y-hidden" for="text-content">내용을 입력해주세요 (optional)</label>
            <textarea
              class="text-content"
              name="text-content"
              id="text-content"
              cols="30"
              rows="10"
              placeholder="내용을 입력해주세요 (optional)"
            ></textarea>
            <div class="button-group">
              <button type="submit" class="submit button" disabled>등록</button>
              <button type="button" class="cancel">취소</button>
            </div>
          </div>
        </div>
      </form>
    </main>
    <div class="overlay"></div>
  </body>
</html>
