@keyframes bounce {
  0%,
  100% {
    transform: scale(1, 1) translateY(0);
  }
  50% {
    transform: scale(1.02, 0.98) translateY(-15px);
  }
}

.loading {
  z-index: -999;
  opacity: 0;
  transition: 0.4s;
}

.loading.active {
  z-index: 9999;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div {
    text-align: center;

    &::before {
      animation: bounce 1s ease infinite;
      content: '';
      display: block;
      width: 100px;
      height: 200px;
      background-image: url(../images/loading.png);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
}
